/*Generic*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    color: var(--white);
    
}

/*Background*/
body {
    background-image: url(/media/img/500sek.jpeg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
    background-attachment: fixed;

    font-size: 14px;
}

/*Color variables*/
:root {
    --black: #000000;
    --gray: #181818;
    --orange: #ff9f0a;
    --blue: #0a84ff;
    --white: #ffffff;
}

.nav-container {
    background-color: #181818;
    position: fixed;
    left: 5%;
    right: 5%;
    z-index: 1;
    max-width: 1890px;

}

/*Navigation bar with a grid containing the logo and nav btns*/
.nav {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 95%;
    max-width: 1890px;
    margin: 0 auto;
}

/*Grid for the btns*/
.btn-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    justify-self: end;
    gap: 20px;
    z-index: 1;
    
}

/*Styling for the nav btns*/
.nav-btn {
    color: white;
    font-family: 'Rubik Distressed';
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
}

/*Effect when hovering over a nav btn*/
.nav-btn:hover {
    color: #ff9f0a;
    transition: all 0.2s ease-out;
}

/*Styling for the logo image*/
#logo {
    width: 200px;
    margin: 5px;
}

#nav-logo {
    display: flex;
    justify-self: start;
}

/*Styling for the graphics of the hamburger bar*/
.menu-toggle .hamburger-bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
}

/*----------*/

/*Main content of the page*/

/*Background for the content*/
.content-container {
    background-color: var(--black);
    top: 100px;
    left: 5%;
    right: 5%;
    position: absolute;
    top: 100px;
    max-width: 1890px;

}

/*Main page content styling and grid*/

.content {
    display: grid;
    grid-template-columns: 1fr 294px;
    grid-auto-rows: auto;
    margin: 30px;
    grid-gap: 5px;
}

.info-bar-container {
    grid-column: -2 / -1;
    grid-row: 1 / 5;
}

.info-bar {
    display: block;
    position: static;
    clear: right;
    float: right;
    border: 2px #ff9f0a solid;
    margin-left: 30px;
}

.master-title {
    font-family: 'Rubik Distressed';
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 20px;
    grid-column: 1 / -2;
}

.format-article-text {
    font-size: inherit;
    font-weight: 400;
    line-height: 1.75;
    margin: 24px 0 24px 0;
    overflow-wrap: break-word;
    grid-column: 1 / -1;
}

/*index.html*/

.main-content-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    margin: 30px;
    grid-gap: 5px;
}

.trailer-frame {
    overflow: hidden;
    width: 100%;
    height: 260px;
}

#video-season1 {
    grid-column: 1 / 2;
}

#video-season2 {
    grid-column: 2 / -2;
}

/*----------*/

/*Styling for the info box*/
.info-bar-title {
    background-color: var(--orange);
    padding: 15px;
    text-align: center;
}

#cover {
    width: 260px;
}

.info-row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    font-size: 10px;
    margin: 15px 5px 15px 5px;
}
/*----------*/



/*gallery.html*/

.gallery-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
}

.big-img {
    grid-column: span 2;
    grid-row: span 2;
}

.horizontal-img {
    grid-column: span 2;
}

.vertical-img {
    grid-row: span 2
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*----------*/

/*characters.html*/

.main-content-characters {
    display: grid;
}

.character-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
}

.character-info h2 {
    grid-column: 2 / -1;
}

.character-img-container {
    grid-column: 1;
    grid-row: 1 / 2;
}

.character-img-container img {
    width: 200px;
}

/*MEDIA QUERIES*/

/*Smaller laptop*/
@media screen and (max-width: 1220px) {
    .nav-container {
        position: fixed;
        z-index: 1;
        left: 0%;
        right: 0%;
    }

    .content-container {
        left: 0%;
        right: 0%;
        top: 80px;
    }
}

/*Smaller laptop*/
@media screen and (max-width: 1110px) {

    .btn-container {
        display: grid;
        grid-template-columns: auto;
        background: #181818;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-btn {
        color: white;
        border: none;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        white-space: nowrap;
        border-radius: 4px;
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }

    .nav-btn:hover {
        color: white;
        background-color: #ff9f0a;
        transition: all 0.2s ease-out;
        border: none;
    }

    #nav-logo {
        margin-left: 20px;
    }

    .btn-container.active {
        background: #181818;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav {
        width: 100%;
    }

    #menu {
        position: absolute;
        top: 30%;
        right: 5%;
        
    }

    .menu-toggle .hamburger-bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #menu.is-active .hamburger-bar:nth-child(2) {
        opacity: 0;
    }

    #menu.is-active .hamburger-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu.is-active .hamburger-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/*Tablet*/
@media screen and (max-width: 900px) {

    .content {
        display: grid;
        grid-template-columns: 1fr 294px;
        grid-auto-rows: auto;
        margin: 30px;
        grid-gap: 5px;
    }
    
    .info-bar-container {
        grid-column: -2 / -1;
        grid-row: 1 / 5;
    }
    
    .master-title {
        grid-column: 1 / -2;
    }
    
    .format-article-text {
        grid-column: 1 / -2;
    }
    
    .trailer-frame {
        overflow: hidden;
        width: 100%;
        height: 320px;
    }
    
    #video-season1 {
        grid-column: 1 / -2;
    }
    
    #video-season2 {
        grid-column: 1 / -2;
    }

    /*gallery.html*/
    .gallery-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: dense;
    }

    .big-img {
        grid-column: 1;
        grid-row: span 2;
    }
    
    .horizontal-img {
        grid-column: 1;
    }
    
    .vertical-img {
        grid-row: span 2;
    }
}

/*Phone*/
@media screen and (min-width: 0px) and (max-width: 540px) {

    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        margin: 30px;
        grid-gap: 5px;
    }

    .info-bar-container {
        display: grid;
        grid-row: 6 / 7;
    }

    .info-bar {
        justify-self: center;
        margin: 0;
    }
}


